<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vente">
      <h2 data-cy="venteDetailsHeading"><span>Vente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ vente.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ vente.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ vente.nombre }}</span>
        </dd>
        <dt><span>Total</span></dt>
        <dd>
          <span>{{ vente.total }}</span>
        </dd>
        <dt><span>Medicament</span></dt>
        <dd>
          <div *ngIf="vente.medicament">
            <a [routerLink]="['/medicament', vente.medicament?.id, 'view']">{{ vente.medicament?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/vente', vente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
